$btn-default: #3c3c3b;
$btn-primary: #00C84E;
$btn-font-color: #fff;

.button {
  display: inline-block;
  background: $btn-default;
  color: $btn-font-color;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  &:hover {
    background: darken($color: $btn-default, $amount: 10%);
  }
}

.button.large {
  padding: 20px;
}

.button.primary {
  background: $btn-primary;

  &:hover {
    background: darken($color: $btn-primary, $amount: 10%);
  }
}

.img-container {
    text-align: center;
    background-color: yellow;
    img {
      width: 50%;
      margin: 0 auto;
    }
  }

.card {
  background: #fff;
  padding: 15px;
  box-shadow: 1px 1px 3px black;
}

.sidebar {
  background: rgb(70, 70, 70);
  padding: 15px;
  color: #fff;
}

.post-list li {
  padding: 15px;
  background: #f5d547;
  color:#000;
  margin-bottom: 15px;
}

.hero-img {
  background: url(../index/bricks-2181920_1280.jpg) no-repeat fixed center;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: auto;
    font-size: 3.5em;
    color: #fff;
    text-align: center;
    width: 100%;
  }
}

.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: rgba(60, 60, 59, 0.7);
  padding: 20px;
  position: absolute;
  top: 30vh;
  height: 350px;
  a {
    font-size: 1.2em;
  }
}

ul {
  list-style-type: none;
}

.breadcrumbs {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

    li {
        float: left;
    
        &:not(:last-child)::after {
            /* https://stackoverflow.com/questions/20782368/use-font-awesome-icon-as-css-content */
            font-family: "Font Awesome 5 Free";
            content: "\f054";
            display: inline-block;
            margin: 0 5px 0 5px;
            vertical-align: middle;
            font-weight: 900;
          }
    }
}

.page-nav li {
  margin: 20px;

  &:before {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
  }

  a {
    &:hover,
    &:active {
      font-weight: 600;
    }
    text-decoration: none;
    color: #000;
  }
}

@media screen and (max-width: 400px) {
  .button {
    width: 100%;
  }
}
