/* Color palette https://coolors.co/1446a0-db3069-f5d547-ebebd3-3c3c3b */
@import url("grid.css");
@import url("components.css");
@import url("/templates/share/share.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: #ebebd3;
}

main {
  margin: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}

p {
  margin: 10px 0 10px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
