/* This file applies sitewide */

@import url("grid.css");
@import url("components.css");
@import url("/templates/share/share.css");

/* Reset browser specific settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background: #ebebd3;
  font-family: sans-serif;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
  margin-top: 20px;
  width: 85%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}

p {
  margin: 10px 0 10px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

@media screen and (max-width: 424px) {
  main {
    width: 95%;
  }
}
