$padding-horiz: 0.5vw 0.8vw 0.15vw 0.8vw;

.topHeader {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 75px;
  z-index: 100;

  img {
    left: 1em;
    position: fixed;
    width: 15vw;
    top: 10px;
    max-height: 70px;
    max-width: 260px;
    /*adjust height and width*/
  }
}
.navSticky {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  /*padding: 2vw;*/
  width: 100vw;
  height: 75px;
}

.navItem {
  list-style-type: none;
  background-color: inherit;
  text-align: center;
  &:last-child {
    a::after {
      content: "";
      background-color: transparent;
    }
  }
  &:not(:first-child) {
    border-left: 2px solid yellow;
  }
  a {
    white-space: nowrap;
    color: white;
    text-decoration: none;
    padding: $padding-horiz;
    margin: 0.2vw;
    transition: color 0.3s ease-in-out, border-bottom 0.5s ease-in-out;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
  }
  a:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
    transition: color 0.3s ease-in-out, border-bottom 0.5s ease-in-out;
  }
}
a.currentPage {
  color: yellow;
  border-bottom: 2px solid yellow;
}
#smalllogo {
  max-height: 70px;
  display: none;
}
#breadcrumbs {
  p {
    a {
      &::after {
        content: " > ";
        color: black;
      }
      &:last-child::after {
        content: "";
      }
    }
  }
}
#banner {
  margin: 80px 0px 0px 0px;
  border-bottom: 1px solid black;
  height: 37px;

  form {
    float: right;
    margin: -2px 10px 0 0;

    label[for="searchField"] > span {
      visibility: hidden;
    }

    input {
      border: 0;
      padding: 8px;
      width: 300px;
    }
  }

  ul {
    display: inline;

    li {
      float: left;
    }
    a {
      color: black;
      padding: $padding-horiz;
    }
  }
}
.bigbody {
  border: 1px solid black;
  height: 150vh;
  width: 90vw;
  margin: 10vh 0px 0px 0px;
  text-align: center;
  display: inline-block;
}
#hamburger,
#ham-check {
  display: none;
}
@media only screen and (max-width: 1210px) {
  #smalllogo {
    display: inline-block;
    height: 4vw;
    width: 9.6vw;
  }
  #biglogo {
    display: none;
  }
}
@media only screen and (max-width: 1072px) {
  [aria-label="Huvudmeny"] {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .navSticky {
    display: none;
    color: black;
    background-color: black;
    position: absolute;
    top: 75px;
    height: initial;
    li {
      margin: 18px;
    }

    .navItem {
      border: 0;
    }
  }
  #smalllogo {
    display: none;
  }
  #biglogo {
    display: inline-block;
    width: 250px;
  }
  #hamburger {
    display: inline-block;
    margin-left: auto;
    font-size: 3em;
    margin-right: 2vw;
    color: yellow;
  }
  #ham-check:checked ~ .navSticky {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 694px) {
  #banner {
    height: auto;

    form {
      float: none;
      display: block;
      margin: 10px;

      input {
        width: 100%;
        margin: 5px 0 5px 0;
      }

      .button {
        width: 100%;
      }
    }
  }
}
