body,
html {
  max-width: 100vw;
}
main {
  max-width: 100vw;
  margin: 0 auto;
}

article {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-width: 100%;

  margin: 0.5em;
  padding: 1em;
  align-items: center;
  span {
    margin-top: auto;
    text-align: left;
    width: 100%;
  }
  h4 {
    width: 100%;
    text-align: left;
  }
}
.current-events {
  grid-area: current;
  section {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
.links {
  display: flex;
  justify-content: center;
  grid-area: links;
}

.otherlinks {
  grid-column-start: 1;
  grid-column-end: 4;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  a {
    width: 25%;
    margin: 1em;
  }
}
h2 {
  font-size: 1.5em;
}
.thumbnail {
  height: 10vw;
  width: 18vw;
  filter: grayscale(50%);
  margin: 0.5em 0 1em 0;
  z-index: 1;
}
/* GET THIS CENTERRED ALONG WITH OTHER CARDS NEXT? */
/* STYLE IN A ROW WITH ICONS */
.calendar.card {
  max-height: 450px;
  grid-area: calendar;
  section {
    display: flex;
    flex-direction: column;
  }
}

.month {
  padding: 0.5em;
  ul {
    list-style-type: none;
  }
  h4 {
    border-bottom: 2px solid black;
    margin: 0 0 0.5em 0;
  }
  span {
    font-size: 2em;
    padding-right: 0.5em;
  }
}
.grid.index {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px auto;
  min-height: 100vh;
  grid-template-areas: ". links links links ." "calendar current current current .";
}
main.grid {
  max-width: 100vw;
}
.links > .card {
  margin: 0.5em;
  background-color: #3c3c3b;
  text-decoration: none;
  font-size: 1em;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .col-2-3.apply {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  max-width: 100vw;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  margin: 1em;
  border-radius: 7px;
  box-shadow: 1px 1px 4px darkslategrey;
}

@media only screen and (max-width: 1199px) {
  .grid .col-2-3.apply {
    grid-template-columns: auto;
  }
  /* FIX THIS */
  .current-events.card {
    margin: 0 2em;
  }

  .links {
    flex-direction: column;
    text-align: center;
    align-items: center;
    .card {
      width: 80%;
    }
  }
  .grid.index {
    grid-template-rows: auto auto auto;
    grid-template-areas: "links links links links links" ". calendar calendar calendar ." ". current current current .";
  }

  .month {
    width: 50%;
  }
}

@media only screen and (max-width: 1199px) {
  .calendar.card section {
    flex-direction: row;
    justify-content: center;
  }
  div.current-events.card {
    min-width: 85vw;
    margin: 1em 0; //unfortunate
  }
  .current-events > section {
    grid-template-columns: 1fr;
    min-width: 80vw;
  }
  .grid.index {
    grid-template-areas: "links links links links links" "calendar calendar calendar calendar calendar" "current current current current current";
  }
  article {
    width: 90%;
    margin: 0 auto;
  }
  .thumbnail {
    width: 100%;
    height: 50%;
  }
  .otherlinks {
    flex-direction: column;
  }
  .otherlinks a {
    width: 50%;
  }
}
