//Hannes' code input

main {
  width: 85%;
  margin: 0 auto;
}
.link-list {
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 1em;
  max-height: 450px;
  margin: 1em 1em 1em 1em;
  h3 {
    border-bottom: 2px solid black;
    padding-bottom: 0.5em;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
.col-2-3.card {
  margin: 1em;
  padding: 1em;
  img {
    width: 50%;
    margin: 0 auto;
  }
}
.img-container {
  text-align: center;
  background-color: yellow;
}
.card {
  box-shadow: 1px 1px 3px black;
}
.col1 {
  min-width: 33vw;
}
.call-to-action {
  margin: 1em auto;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
  display: block;
  text-align: center;
  padding: 0.5em;
  width: 50%;
  background-color: green;
  font-size: 1.5em;
  //add font-size mediaquery to make button repsonsive
  color: white;
}
.icons {
  border: 1px solid rgb(70, 70, 70);
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
  h4 {
    text-align: center;
    font-size: 1.1em;
    border-bottom: 1px solid grey;
    margin: 0;
  }
  ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}
//Hannes' code input ends here
