body {
    text-align: center;
}

.sec {
    background-color: yellow;
    border-radius: 5px;
    box-shadow: 4px 4px gray;
    padding: 10px;
}

.darkSec {
    color: black;
    background-color: white;
    
    box-shadow: 4px 4px gray;
    padding: 10px;
    border-radius: 5px;
    margin:auto;
}

@media screen and (min-width:801px) {
    #map {
        display: flex;
        justify-content: center;
    }
    .twoByTwo {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 4;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .twoByTwo section {
        width: 22vw;
        box-shadow: 4px 4px gray;
    }
    #kontaktaBild {
        width: 40vw;
    }
}
    @media screen and (max-width: 800px) and (min-width: 476px) {
       .twoByTwo section {
            margin-bottom:1vh;
       }
       #kontaktaBild {
        width: 70vw;
    }
    }
    @media screen and (max-width: 475px) {
        #map {
            display: none;
        }
        
    }
