<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="headerStyle.css" />
    <title>Document</title>
  </head>

  <body>
    <header class="topHeader">
      <!--change sizeing of image in editing program-->
      <!--to fix centering-->
      <img src="https://www.myh.se/assets/images/myh_logo.png" />
            <label for="ham-check" id="hamburger">&#9776</label>
      <input type="checkbox" name="ham-check" id="ham-check">
      <ul class="navSticky">
        <li class="navItem"><a href="index.html">Start</a></li>
        <li class="navItem"><a href="omOss.html">Om oss</a></li>
        <li class="navItem">
          <a href="verksamhetsOmraden.html">Verksamhetsområden</a>
        </li>
        <li class="navItem">
          <a href="lagarReglerTillsyn.html">Lagar, Regler, Tillsyn</a>
        </li>
        <li class="navItem"><a href="statistik.html">Statistik</a></li>
        <li class="navItem"><a href="publikationer.html">Publikationer</a></li>
        <li class="navItem"><a href="nyhetsrum.html">Nyhetsrum</a></li>
        <li class="navItem"><a href="kontakt.html">Kontakt</a></li>
      </ul>
    </header>
    <div role="banner" id="banner">
      <ul>
        <li><a href="#">In English</a></li>
        <li><a href="#">Lättläst</a></li>
        <li><a href="#">Anpassa</a></li>
        <li><a href="#">Mina sidor</a></li>
      </ul>
      <div>
      <label for="searchField"><i></i></label>
      <input type="search" name="searchField" placeholder="Ange sökord" />
      <button type="submit">Sök</button>
      </div>
    </div>

    <div class="bigbody">big body bes</div>
  </body>
</html>
